<div class="complete_box">
  <div class="complete_title">
    <h4>仮登録が完了しました。</h4>
    <h4>認証をおこなってください</h4>
  </div>
  <div class="complete_text">
    <p>
      ご登録ありがとうございます。<br>
      登録時に入力したお客様の「ＰＣメールアドレス」に仮登録通知メールを<br>お送りしましたので、ご確認ください。<br>メールに書かれたURLにアクセスすると本登録が完了します。
    </p>
    <p>
      ※もし30分経ってもメールが届かない場合はメールアドレスの間違いや、何らかの原因が考えられます。<br>お手数ですが、再度ご登録の方をお試しください。
    </p>
  </div>
</div>