<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>さんからランチの申請がありました。</h1>
  <P>
    まるまるさんの希望日はまるまる。
    希望場所はまるまるです。
    まるまるさんの自己紹介は下記です。
  </P>
  <p>
    このリンクをクリックして、サイトにログインしてください: <%= @url %>.
  </p>
  <p>ご参加いただき、ありがとうございます。楽しんでください!</p>
  </body>
</html>




