<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%= @user.nickname %>さんからランチの申請がありました。

    <%= @user.nickname %>さんの希望日は。
    希望場所はまるまるです。
    まるまるさんの自己紹介は下記です。
  <p>
    このリンクをクリックして、サイトにログインしてください: <%= @url %>.
  </p>
  <p>ご参加いただき、ありがとうございます。楽しんでください!</p>
  </body>
</html>




