<div class="container-every">
  <ul class="nav-upper nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Color Parkとは？</a></li>
    <li><a href="#tab2" data-toggle="tab">設立経緯</a></li>
    <li><a href="#tab3" data-toggle="tab">運営メンバー</a></li>
  </ul>
</div>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <div class="container-every">
      <div class="row">
        <div class="dantai-top col-xs-11 col-md-4">
          <h2>color parkとは？</h2>
        </div>
      </div>
      <div class="about-tripark-top row">
      <p>僕たちとりっぷぱーくは</br>遊びを通じて</br>街に笑顔を、元気を与えていきます。</p>
      </div>
      <div class="about-tripark row">
      <p>僕たちとりっぷぱーくはどんな場所でも、どんな状況でも公園を公演します。</br>
        僕たちできることはお子さんたちの遊びを後援することです。</br>
        日本にある公園が、皆さんの好園になりますように。</br>
        僕たちはたくさん遊びます。</br>
        </p>
      </div>
      <div class="about-tripark row">
        <p>実は東京には%もの公園があるって知っていましたか？</br>
        こ〜んなにも公園があるので、皆でもっと使いたいと思います！</br>
        実は公園には遊具もサッカーボールもなにもいらないのです！</br>
        仲間がいればなーんにもなくても楽しく遊べる場所なのです！</br>
        </p>
        <p>
        僕たちは公園の新たな使い方を「遊び」を通じて発掘しています。</br>
        いつか、いつか、</br>
        子どもも、</br>学生も、</br>大人も、</br>ママも、</br>パパも、</br>おばぁちゃんも、</br>おじいちゃんも、</br>皆が公園に集まり笑顔の溢れる社会になる時を夢みてます。</br>
        素敵なまちを「遊び」でつくっていきます。</br>
        </p>
      </div>
      <div class="about-tripark row">
        <h1>皆で楽しく,仲良く生きようよ</h1>
      </div>
    </div>
  </div>
  <div class="tab-pane fade " id="tab2">
    <div>
      <p>
      「お子さんにもっと自由を」。子どもは好きなものには、飛びつき、嫌いなものには飛びつかない、本当に素直な心を持っています。しかし、今の日本の子どもは、果たして「自由」に「好き」なことをしているでしょうか。日本の子どもに「自由」を「夢」を与えていきたいです。
      </p>
    </div>
  </div>
  <div class="tab-pane fade " id="tab3">
    <div class="members_box">
      <div class="taiki-img">
        <img src="/images/main/member.jpg" alt="画像">
      </div>
    </div>
  </div>
</div>
