<div class="container-every">
  <ul class="nav-upper nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Color Parkとは？</a></li>
    <li><a href="#tab2" data-toggle="tab">設立経緯</a></li>
  </ul>
</div>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <div class="container-every">
      <div class="row">
      </div>
      <div class="about-tripark-top row">
      <p>color parkは遊びを通じて</br>街に笑顔を、元気を与えていきます。</p>
      </div>
      <div class="about-tripark row">
        <p>僕たちが目指すのは「行けば誰かがいる公園」づくりです。<br>
        もともとは何もない真っ白な公園というキャンバスを<br>子どもたち、僕ら学生、大人のみなさん、<br>ママ、パパ、おじいちゃん、おばあちゃん、<br>みんなが思い思いの色で染めていくことで、<br>公園はいかようにも姿を変えます。</p>
      </div>
      <div class="about-tripark row">
        <p>行けば知り合いのあの人に、<br>またはまだ見ぬ新しい友だちに会える。<br>そんな場を創りたいのです。<br> まずはこの週末、<br>肩肘張らずに近くのあの公園に<br>出かけてみませんか？</br></p>
      </div>
      <div class="about-tripark row">
        <p>
        僕たちは公園の新たな使い方を「遊び」を通じて発掘しています。</br>
        いつか、いつか、</br>皆が公園に集まり笑顔の溢れる社会を夢みてます。</br>
        素敵なまちを楽しくつくっていきます。</br>
        </p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade " id="tab2">
    <div class="establish_why">
      <p>
      誰でも自由に利用することができ、首都圏において貴重な自然に恵まれる公園は、<br>地域の人々の格好の憩いの場となることを目的に設計されています。<br>しかし、代々木公園や日比谷公園など一部の大規模公園を除いてほとんどが閑散とし、<br>活用されていないという現状がある。<br>公園とは公衆が憩いまたは遊びを楽しむために公開された場所であり、<br>利用する人がいないと本来の機能を果たすことができないと考えます。<br>首都圏に存在する多くの公園が生かされないままスペースとして存在するのみという現状は<br>非常に勿体無いのではないだろうか？<br>このことから、当団体は人が集まるきっかけと<br>その舞台としての公園という場を同時に提供することによって、<br>公園の持つ本来の力を引き出し、既存の公園を人が集まり、<br>人と人が繋がる魅力的な場に創り変えることを目指します。
      </p>
    </div>
  </div>
</div>
