    <div class="future">
      <h2>PAST ACTIVITY</h2>
    </div>
    <div class="picturebox">
      <div>
        <img src="" class="picture">
        <h3>　月　️日</h3>
      </div>
      <div>
        <img src="" class="picture">
        <h3>　月　️日</h3>
      </div>
      <div>　
        <img src="" class="picture">
        <h3>　月　️日</h3>
      </div>
      <div>
        <img src="" class="picture">
        <h3>　月　️日</h3>
      </div>
    </div>
<h2>何をしているか？</h2>
<h1>ああああaaa</h1>

<div class="">
</div>