  <div class="mail-success">
    <h3>送信が完了しました。メールでのご連絡お待ちください。</h3>
  </div>
  <div class="button-close">
    <input type="button" value="サブウィンドウを閉じる" onClick="window.close()" style="font-size:20px; width:160px; height:200px;">
  </div>